[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# My Python package repo on web.ermin
[[source]]
url = "http://192.168.1.102"
verify_ssl = false
name = "ermin"

[packages]
metfuncs = {version="1.0.5", index="ermin"}
requests = "==2.25.1"
Flask = "==1.1.2"
pytest = "==6.2.1"
webtest = "==2.0.35"

[dev-packages]

[requires]
python_version = "3.8"
